Tensorflow/CampusX/CNN/Week-4/CatVSdog-img-classification/test/
Tensorflow/CampusX/CNN/Week-4/CatVSdog-img-classification/train/
Tensorflow/CampusX/CNN/Week-5/Transfer-Learning/train/
Tensorflow/CampusX/CNN/Week-5/Transfer-Learning/test/
Tensorflow/CampusX/Non-Liner-NN/age-gender-predict-transfer-learning/UTKFace
PyTorch/Objection-Detection-Bootcamp/Day-2/data/images