Tensorflow/CampusX/CNN/Week-4/CatVSdog-img-classification/test/
Tensorflow/CampusX/CNN/Week-4/CatVSdog-img-classification/train/
Tensorflow/CampusX/CNN/Week-5/Transfer-Learning/train/
Tensorflow/CampusX/CNN/Week-5/Transfer-Learning/test/