Tensorflow/CampusX/CNN/Week-4/CatVSdog-img-classification/test/
Tensorflow/CampusX/CNN/Week-4/CatVSdog-img-classification/train/
Tensorflow/CampusX/CNN/Week-5/Transfer-Learning/train/
Tensorflow/CampusX/CNN/Week-5/Transfer-Learning/test/
Tensorflow/CampusX/Non-Liner-NN/age-gender-predict-transfer-learning/UTKFace
PyTorch/Objection-Detection-Bootcamp/Day-2/data/images
PyTorch/Objection-Detection-Bootcamp/Day-2/deep_cnn_model.pth
PyTorch/Chapter-3-Computer-Vision/data/
PyTorch/Chapter-4-Custome-Datasets/data/
PyTorch/KD-Pytorch/data/